# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Build folders
bin/
build/
out/
target/

# OS files
.DS_Store
Thumbs.db